["Mario Circuit"
 "Moo Moo Meadows"
 "Mushroom Gorge"
 "Grumble Volcano"
 "Toad's Factory"
 "Coconut Mall"
 "DK Summit"
 "Wario's Gold Mine"
 "Luigi Circuit"
 "Daisy Circuit"
 "Moonview Highway"
 "Maple Treeway"
 "Bowser's Castle"
 "Rainbow Road"
 "Dry Dry Ruins"
 "Koopa Cape"
 "GCN Peach Beach"
 "GCN Mario Circuit"
 "GCN Waluigi Stadium"
 "GCN DK Mountain"
 "DS Yoshi Falls"
 "DS Desert Hills"
 "DS Peach Gardens"
 "DS Delfino Square"
 "SNES Mario Circuit 3"
 "SNES Ghost Valley 2"
 "N64 Mario Raceway"
 "N64 Sherbet Land"
 "N64 Bowser's Castle"
 "N64 Jungle Parkway"
 "GBA Bowser Castle 3"
 "GBA Shy Guy Beach"
 "GCN Dry Dry Desert"
 "GBA Riverside Park"
 "Volcanic Pipeyard"
 "Concord Town"
 "Big Express City"
 "Lost Fortress"
 "DKR Jungle Falls"
 "Colour Wonderland"
 "DS Bowser Castle"
 "DS Shroom Ridge"
 "Galaxy Base"
 "GBA Peach Circuit"
 "Celestial Ruins"
 "Shy Guy's Market"
 "GBA Sunset Wilds"
 "N64 Luigi Raceway"
 "GBA Rainbow Road"
 "Halogen Highway"
 "Retro Raceway"
 "Flowery Greenhouse"
 "Item Fireland"
 "Rock Rock Ridge"
 "Star Slope"
 ""
 ""
 "N64 Rainbow Road"
 ""
 "Alpine Peak"
 "Daisy Hillside"
 "Seaside Circuit"
 "Bayside Boulevard"
 "SNES Donut Plains 1"
 "Mushroom Peaks"
 "Rockside River"
 ""
 ""
 "SNES Bowser Castle 2"
 "SNES Mario Circuit 4"
 "SNES Vanilla Lake 2"
 "SNES Mario Circuit 1"
 "Crossingville"
 "Cottonplant Forest"
 "Flying Kingdom"
 "Sky Shrine"
 "Lakeside Hill"
 "ASDF_Course"
 "Nostalgic Bowser's Castle"
 "Rush City Run"
 "Icecream Sweetland"
 "Incendia Castle"
 "Sunset Forest"
 "The Rabbit Hole"
 "Haunted Woods"
 "DKR Star City"
 "Kartwood Creek"
 "Fishdom Island"
 "GCN Rainbow Road"
 "N64 Royal Raceway"
 "N64 Yoshi Valley"
 "DS Airship Fortress"
 "Six King Labyrinth"
 "Lunar Lights"
 "SNES Donut Plains 2"
 "Jungle Cliff"
 "Nightlife Party"
 "Undiscovered Offlimit"
 "Yoshi Lagoon"
 "Skyline Avenue"
 "GCN Bowser's Castle"
 "GBA Bowser Castle 4"
 "DS Waluigi Pinball"
 "N64 Choco Mountain"
 "N64 Banshee Boardwalk"
 "GBA Broken Pier"
 "GCN Yoshi Circuit"
 "Summer Starville"
 "Luncheon Tour"
 "Volcanic Skyway"
 "Delfino Island"
 "Dawn Township"
 "GBA Cheep Cheep Island"
 "SNES Choco Island 2"
 "Twin Peaks"
 "DS Figure-8 Circuit"
 "GCN Daisy Cruiser"
 "DS Wario Stadium"
 "Sunset Circuit"
 "DS Cheep Cheep Beach"
 "SNES Mario Circuit 2"
 "Candy Coaster"
 "Melting Magma Melee"
 "Final Grounds"
 "Pipe Underworld"
 "Canyon Run"
 "New Moon Manor"
 "Toad Raceway"
 "Spike Desert"
 "GCN Luigi Circuit"
 "Unnamed Valley"
 "SNES Donut Plains 3"
 "GCN Wario Colosseum"
 "Dark Matter Shrine"
 "Sunset Raceway"
 "DS Tick-Tock Clock"
 "Neo Koopa City"
 "SNES Rainbow Road 4"
 "Cookie Village"
 "GCN Sherbet Land"
 "Jungle Ruins"
 "CTR Cortex Castle"
 "Wolf Castlegrounds"
 "Glimmer Express Trains"
 "Infernal Pipeyard"
 "GBA Cheese Land"
 "Autumn Leavesway"
 "DS Luigi's Mansion"
 "Melody Sanctum"
 "GBA Sky Garden"
 "Nivurbia"
 "Cave Island"
 "GBA Ribbon Road"
 "DS Mario Circuit"
 "Wario's Shipwreck"
 "Castle of Darkness"
 "Desert Castle Raceway"
 "Misty Ruins"
 "Snowy Circuit"
 "Sea Stadium"
 "Calidae Desert"
 "N64 Kalimari Desert"
 "Winter Paradise"
 "Kinoko Cave"
 "GCN Baby Park"
 "Desktop Dash"
 "GBA Bowser Castle 1"
 "Aura Metropolis"
 "Daisy Gardens"
 "Aquania"
 "Snowy Circuit"
 "Rezway"
 "Desert Mushroom Ruins"
 "GCN Mushroom City"
 "Piranha Pland Pipeline"
 "F-Zero White Land 1"
 "Wuhu Mountain"
 "Disco Fever"
 "Sunset Ridge"
 "N64 Koopa Troopa Beach"
 "Coral Cape"
 "Gothic Castle"
 "Sandcastle Park"
 "N64 Moo Moo Farm"
 "GBA Luigi Circuit"
 "GBA Lakeside Park"
 "Mushroom Island"
 "GBA Mario Circuit"
 "Stone Route"
 "DK Ruins"
 "Sparkly Road"
 "Dreamworld Cloudway"
 "N64 Frappe Snowland"
 "Green Loop"
 "DS DK Pass"
 "Volcanic Valley"
 "Underground Sky"
 "Alpine Mountain"
 "Crystal Plains"
 "DKR Ancient Lake"
 "Aquadrom Stage"
 "Abyssal Ruins"
 "Blue Loop"
 "Windmill Village"
 "Cliff Village"
 "Sky Grove"
 "Crystal Dungeon"
 "Tropical Factory"
 "Subspace Factory"
 "Wetland Woods"
 "Slot Circuit"
 "GBA Boo Lake"
 "GBA Snow Land"
 "GCN Mushroom Bridge"
 "Green Park"
 "Volcanic Skyway 4"
 "Hell Pyramid"
 "Kirio Raceway"
 "Lava Road"
 "Horror Mansion"
 "Jungle Jamble"
 "Lunar Spaceway"
 "SNES Bowser Castle 2"
 "SNES Bowser Castle 3"
 "GP Mario Beach"
 "N64 Wario Stadium"
 "N64 Toad's Turnpike"
 "Icepeak Mountain"
 "Bowser's Fiery Fortress"
 "Red Loop"
 "SADX Twinkle Circuit"
 "Seaside Resort"
 "Seasonal Circuit"
 "GBA Bowser Castle 2"
 "Mansion of Madness"
 "Cool Castle Canyon"
 "SNES Bowser Castle 1"
 "SNES Choco Island 1"
 "Headlong Skyway"
 "Comet Starway"
 "Shadow Woods"
 "Sacred Fogcoast"
 "SNES Ghost Valley 1"
 "Festival Town"
 "Big Nature City"
 "SNES Koopa Beach 2"
 "White Garden"
 "Dragonite's Island"
 "GBA Yoshi Desert"
 "Rainbow Road: Solar Edition"
 "Castle of Time"
 "Thwomp Swamp"
 "Marble Towers"
 "Heart of China"
 "Blackrose Castle"]
